        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand p-2" href="{{ path('app_home') }}"><i class="fas fa-snowflake"></i> Gesfluid</a>
          {% if app.user %}
          <div class="d-flex align-items-center">
            <div class="m-2 text-light text-bold text-center">
              <i class="fas fa-user"></i> {{ app.user.userIdentifier|upper }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div>
              <a class="btn btn-sm btn-outline text-white m-2" href="{{ path('admin') }}">
                <i class="fas fa-gears"></i> Administration
              </a>
            </div>
            {% endif %}

            <a 
              class="btn btn-sm btn-secondary m-2 {{ app.request.attributes.get('_route') == 'app_intervention' ? 'disabled' : '' }}"
              href={{ path('app_intervention') }}>
              <i class="fas fa-screwdriver-wrench"></i> Nouvelle intervention
            </a>

            <button type="button" class="btn btn-sm btn-danger m-2" data-bs-toggle="modal" data-bs-target="#modalLogout">
              <i class="fas fa-right-from-bracket"></i> Déconnexion
            </button>
          </div>
          {% endif %}
        </nav>

        <div class="modal fade" id="modalLogout" tabindex="-1" aria-labelledby="modalLogoutLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLogoutLabel">Déconnexion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Êtes-vous sûr de vouloir vous déconnecter ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Non</button>
                <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Oui</a>
              </div>
            </div>
          </div>
        </div>
